

<div class="container-sample">

    <div class = "row" >
        <div class = "col-1 featured-small">
            {% section 'sidebar-featured' %}
        </div>
        <div class = "col-md-11 col-sm-12" >
            <div class="bcove-player" data-experience="60a4b1dec7f7290022d860c1"></div>
        </div>
    </div>




</div>

<div class="featured-mobile-div container-2">{% section 'homage-featured-products' %}</div>


<div class="container-2 related-prod">{% section 'live-featured-product' %}</div>

<div class="container-2 mt-5 text-left">
    <h3 class="watch-more-title mb-3">WATCH MORE LIVESTREAMS</h3>
    <div data-experience="60ab2354c7f7290022d870d9"></div>
</div>





<style>


    .fa-lg {
        font-size: 1.33333333em;
        line-height: .75em;
        vertical-align: -15% !important;
    }


    /*
      ##Device = Desktops
      ##Screen = 1281px to higher resolution desktops
    */

    @media (min-width: 1281px) {

        /* CSS */
        .wrapper_header_03 .bg_header-panel-top, .wrapper_header_03 .header-bottom, .wrapper_header_03 .wrapper-navigation, .wrapper_header_03 .main-menu {
            background-color: #232323;

        }

        .related-prod{
            background-color: #d8d2d2;
        }

        /* CSS */
        .container-sample {
            padding-top: 150px;
            padding-left: 5%;
            padding right:5%;
        }

        .container-2{
            padding-left: 5%;
            padding right:5%;
        }

        .featured-mobile-div{
            display:none;
        }

    }

    /*
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {

        /* CSS */
        .wrapper_header_03 .bg_header-panel-top, .wrapper_header_03 .header-bottom, .wrapper_header_03 .wrapper-navigation, .wrapper_header_03 .main-menu {
            background-color: #232323;

        }

        /* CSS */
        .container-sample {
            padding-top: 150px;
            padding-left: 5%;
            padding right:5%;
        }

        .container-2{
            padding-left: 5%;
            padding right:5%;
        }

        .featured-mobile-div{
            display:none;
        }




    }

    /*
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {

        /* CSS */
        .wrapper_header_03 .bg_header-panel-top, .wrapper_header_03 .header-bottom, .wrapper_header_03 .wrapper-navigation, .wrapper_header_03 .main-menu {
            background-color: #232323;

        }

        .watch-more-title{
            padding-left:5%;
        }

        .featured-small{
            display:none;
        }



    }

    /*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

        /* CSS */
        .wrapper_header_03 .bg_header-panel-top, .wrapper_header_03 .header-bottom, .wrapper_header_03 .wrapper-navigation, .wrapper_header_03 .main-menu {
            background-color: #232323;

        }

        .watch-more-title{
            padding-left:5%;
        }


        .featured-small{
            display:none;
        }



    }

    /*
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {

        /* CSS */
        .watch-more-title{
            padding-left:5%;
        }


        .featured-small{
            display:none;
        }

    }

    /*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

    @media (min-width: 320px) and (max-width: 480px) {

        /* CSS */
        .watch-more-title{
            padding-left:5%;
        }


        .featured-small{
            display:none;
        }

    }

</style>

<script src="https://players.brightcove.net/6254353958001/experience_60ab2354c7f7290022d870d9/live.js"></script>

<script src="https://players.brightcove.net/6254353958001/experience_60a4b1dec7f7290022d860c1/live.js"></script>

